<h1>New Book</h1>

<%= form_with model: @book do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :author %>
        <%= f.select :author, options_for_select([
            ["Please select..."], 
            ["JK Rowling", 2], 
            ["Brandon Sanderson", 3], 
            ["Stephen King", 4], 
            ["JRR Tolkien", 5]
            ]) %>
    </div>
    <div>
        <%= f.label :genre %>
        <%= f.select :genre, options_for_select([
            ["Please select..."],
            ["Fantasy", 1],
            ["Thriller", 2],
            ["Science Fiction", 3],
            ["Action", 4]
            ]) %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<%end%>
